* {
  box-sizing: border-box;
}

@media only screen and (max-device-width: 480px) {
  select {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    -webkit-appearance: none;
  }
}

body {
  background-color: #334155;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Golos Text", sans-serif;
  height: 100vh;
}

header {
  color: rgba(255, 255, 255, 0.945);
  font-size: 4rem;
  margin: 5px;
  font-family: "Rampart One", cursive;
  margin-bottom: 1rem;
}

.player-info {
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.4rem;
}

.mode {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.choose-mode {
  font-weight: bold;
}

.restart-btn {
  background-color: #e2e8f0;
  color: black;
  padding: 5px 10px;
  font-size: 1.2rem;
  border: 1px solid black;
  margin-bottom: 1rem;
}

#hidden {
  display: none;
  margin: -5px;
}

.boardContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin-bottom: 1rem;
}

.boardContainer div {
  background-color: #e2e8f0;
  border: 1px solid black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardContainer div:hover {
  cursor: pointer;
}

footer {
  color: #fff;
  margin-top: auto;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

a,
a:visited {
  color: #fff;
}

a:active,
a:hover {
  color: rgb(255, 189, 46);
}
