* {
  box-sizing: border-box;
}

body {
  background-color: #334155;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  display: grid;
  grid-template-areas:
    "title"
    "mode"
    "info"
    "button"
    "board"
    "footer"

    /* "info info info"
    "button board mode"
    "footer footer footer";
*/
  grid-template-columns: 1fr;
  font-family: "Golos Text", sans-serif;
}

header {
  grid-area: title;

  color: rgba(255, 255, 255, 0.945);
  font-size: 4rem;
  margin: 20px;
  font-family: "Rampart One", cursive;
}

.player-info {
  grid-area: info;
  margin: 20px;
  color: #fff;
  font-size: 1.5rem;
}

.mode {
  grid-area: mode;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 20px;
}

.choose-mode {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.restartDiv {
  grid-area: button;
  /* justify-self: end; */
  margin-right: 60px;
  margin-bottom: 5px;
}
.restart {
  background-color: #e2e8f0;
  color: black;
  padding: 5px 10px;
  font-size: 1.5rem;
  border: 1px solid black;
}

#hidden {
  display: none;
}

.boardContainer {
  grid-area: board;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}

.boardContainer div {
  background-color: #e2e8f0;
  border: 1px solid black;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boardContainer div:hover {
  cursor: pointer;
}

footer {
  grid-area: footer;
  color: #fff;
  margin: 20px;
}
